* {
  padding: 10px;  
}

.App {
  text-align: center;
}

.pokedex {
  display: flex;
  flex-wrap: wrap;
}

.pokeDiv {
  border: solid 1px black;
  width: 300px;
  text-align: center;
}

.Sidebar {
  background-color: whitesmoke;
  border-right: 1px solid #e1e1e1;
  display: flex;
  flex-direction: column;
  position: fixed;
  text-align: start;
  width: 100px;
}

.Sidebar nav {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Sidebar a {
  color: #3e3e3e;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 5px 10px;
  text-decoration: none;
}

.Sidebar a:hover {
  background-color: #e1e1e1;
  text-decoration: none;
}

.selected {
  background-color: rgb(230, 228, 228);
  color: red;
  font-size: 17px;
}

.header {
  align-items: center;
  background-color: rgba(145, 102, 102, 0.682);
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  height: 50px;
  padding: 0 30px;
}

.Content {
  padding: 16px;
}

main {
  margin-left: 100px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
